  <section class="TodoSection">
    <div class="TodoSection-head">
      <h2 class="TodoSection-title"> <%= section_title %> </h2>
      <p class="RemainingCount"><%=todos.completed.count%>/<%= todos.count %></p>
    </div>
    <ul class="TodoList">
      <% todos.each do |todo| %>
      <li class="TodoItem">
       <%= form_with(url: "/todos/#{todo.id}", method: "PUT") do%>
        <%= check_box_tag("completed", value= "1",
         checked = todo.completed,
         onclick: "this.form.submit()")
        %>

       <% end %>
        <p class="TodoItem-text" style="text-decoration: <%=render plain: "line-through" if todo.completed%>"> <%=todo.todo_text%> </p>
        <p class="ShowDate"><%= todo.due_date if todo.due_date != Date.today %></p>
        <%= form_with(url: "/todos/#{todo.id}", method: "delete") do%>
         <%= image_submit_tag("delete.png", class: "Delete") %>
        <% end %>
      </li>
    <%end%>
    </ul>
  </section>
