<main>
  <h1 class="TodoPage-title">My To-do List</h1>
  <%= form_with( url: "/todos", class: "TodoAdd", method: "POST") do %>
    <%= text_field_tag('todo_text',value=nil, placeholder: "What's next?", class: 'TodoText') %>
    <%= date_field_tag('due_date', value=nil, class: "TodoDate") %>
    <%= submit_tag(value="Add", class: "TodoAdd-button") %>
  <% end %>
  <%= render partial: "todo-section", locals: {
    section_title: "Overdue",
    todos: @todo.overdue.not_completed
  } %>
  <%= render partial: "todo-section", locals: {
    section_title: "Due Today",
    todos: @todo.due_today,
  } %>
  <%= render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: @todo.due_later
  } %>
</main>
